.sequence-column {
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}

.sequence-column-container {
  display: flex;
  justify-content: center;
}

.alignment-row {
  display: flex;
}

.alignment-row:first-of-type {
  display: flex;
  justify-content: flex-end;
}

.match {
  background-color:black;
}

.mismatch-A {
  background-color: blueviolet;
}

.mismatch-C {
  background-color:chartreuse;
}

.mismatch-G {
  background-color:cyan;
}

.mismatch-T {
  background-color:deeppink;
}

.mismatch-indel {
  background-color:wheat
}

